<%- include ../public/page_header.html %>
<!-- 富文本编辑器 -->
<link href="/public/admin/wysiwyg-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/public/admin/wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/public/admin/wysiwyg-editor/js/zh_cn.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
修改文章
</div>
    <div class="panel-body">
        <div class="table-responsive input-form">
            <form action="/admin/article/doEdit?_csrf=<%=csrf%>" method="post" enctype="multipart/form-data" class="news_content">
                <input type="hidden" name="id" value="<%=list._id%>">
                <input type="hidden" name="prevPage" value="<%=prevPage%>">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#general" role="tab" data-toggle="tab">通用信息</a>
                    </li>
                    <li role="presentation"><a href="#detail" role="tab" data-toggle="tab">详细描述</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <ul>
                            <li><span class="form-title">文章标题:</span><input type="text" class="input" name="title" value="<%=list.title%>"></li>
                            <li>
                                <span class="form-title">所属分类:</span>
                                <select name="cate_id" id="cate_id">
                                    <%for(var i=0; i<cateList.length; i++){%>
                                        <option value="<%=cateList[i]._id%>" <%if(list.cate_id.toString() == cateList[i]._id){%>selected<%}%>>
                                            <%=cateList[i].title%>
                                        </option>
                                        <%for(var j=0; j<cateList[i].items.length; j++){%>
                                            <option value="<%=cateList[i].items[j]._id%>" <%if(list.cate_id.toString() == cateList[i].items[j]._id){%>selected<%}%>>---
                                                <%=cateList[i].items[j].title%>
                                            </option>
                                            <%}%>
                                         <%}%>
                                </select>
                            </li>
                            <li>
                                <span class="form-title">封面图片:</span><input type="file" name="article_img"><br>
                                <span class="form-title"></span><img src="<%=list.article_img%>" class="pic">
                            </li>
                            <li><span class="form-title">跳转地址:</span><input type="text" name="link" value="<%=list.link%>" class="input"></li>
                            <li><span class="form-title">Seo关键词:</span><input type="text" name="keywords" value="<%=list.keywords%>" class="input"></li>
                            <li><span class="form-title">Seo 描述:</span>
                                <textarea name="description" id="description" cols="80" rows="5"><%=list.description%></textarea>
                            </li>
                            <li><span class="form-title">排 序:</span>
                                <input type="text" name="sort" value="100" class="input">
                            </li>
                            <li><span class="form-title">状 态:</span>  
                                <label><input type="radio" name="status" value="1" <%if(list.status == 1){%>checked<%}%>>显示</label>
                                <label><input type="radio" name="status" value="2" <%if(list.status == 2){%>checked<%}%> >隐藏</label>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="detail">
                        <textarea name="content" id="content" cols="100" rows="10"><%=list.content%></textarea>
                    </div>
                    </div>

                    <button type="submit" class="btn btn-primary">提交</button>

            </form>
        </div>
    </div>

</div>
    <script>
        // 富文本编辑器
        $(function () {
            new FroalaEditor('#content', {
                height: 300, //给编辑器设置默认的高度
                language: 'zh_cn',
                //根据不同的分辨率加载不同的配置
                toolbarButtons: {
                    'moreText': {
                        'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor']
                    },
                    'moreParagraph': {
                        'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
                    },
                    'moreRich': {
                        'buttons': ['insertLink', 'insertImage', 'insertVideo', 'insertTable', 'emoticons', 'fontAwesome', 'specialCharacters', 'embedly', 'insertFile', 'insertHR']
                    },
                    'moreMisc': {
                        'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help'],
                        'align': 'right',
                        'buttonsVisible': 2
                    }
                },
                toolbarButtonsMD: {
                    'moreText': {
                        'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting'],
                        'buttonsVisible': 6
                    }
                },
                toolbarButtonsMD: {
                    'moreText': {
                        'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting'],
                        'buttonsVisible': 6
                    }
                },
                imageUploadURL: '/admin/goods/uploadImage?_csrf=<%=csrf%>'
            });
        })
    </script>
    </body>
</html>