<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url=<%=redirectUrl%>">
        <title>操作成功</title>
    </head>
    <body>
        <!--The content below is only a placeholder and can be replaced.-->

        <link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">

        <link rel="stylesheet" href="/public/admin/css/basic.css">

        <script type="text/javascript" src="/public/admin/bootstrap/js/jquery-1.10.1.js"></script>

        <script type="text/javascript" src="/public/admin/js/base.js"></script>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                    <img src="/public/admin/images/node.jpg" height="44px;"/>

                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a><%=userinfo.username%></a>
                        </li>
                        <li>
                            <a href="/admin/loginOut">安全退出</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-12">

                    <div class="alert alert-success" role="alert">
                        <h2>
                            <%=message%>
                        </h2>
                        <br/>
                        <p>如果您不做出选择,将在3秒后跳转到一个链接地址</p>
                    </div>
            </div>
        </div>

    </body>
</html>